In [1]:
import pandas as pd
import numpy as np

In [2]:
pip install ipython

Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (8.25.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython) (0.18.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython) (4.8.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython) (0.7.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython) (0.2.5)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython) (0.2.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from asttokens->stack-data->ipython) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# ======================================
# PASO 1: CARGA Y VISTA INICIAL DE DATOS
# ======================================

import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# Rutas de los archivos
path_clients = "../data/raw/clients_202510280926.csv"
path_orders = "../data/raw/orders_202510280929.csv"
path_products = "../data/raw/products_202510280931.csv"


# Carga de datasets
clients = pd.read_csv(path_clients)
orders = pd.read_csv(path_orders)
products = pd.read_csv(path_products)

# Dimensiones
print("‚úÖ Dimensiones de los datasets:")
print(f"Clients:  {clients.shape}")
print(f"Orders:   {orders.shape}")
print(f"Products: {products.shape}")

# Primeras filas
display(clients.head(3))
display(orders.head(3))
display(products.head(3))

‚úÖ Dimensiones de los datasets:
Clients:  (2357, 15)
Orders:   (82245, 10)
Products: (1255, 6)

,client_id,first_name,last_name,gender,age,email,city,address,postal_code,country,citizenship,document_type,document_number,registration_date,last_seen
0,21e5c13d-1c9a-4d00-9164-b72302d5edef,Trist√°n,Rojas,M,42,trist√°n.rojas13@example.com,Rivera,Bulevar Artigas 3757,28289,Uruguay,Uruguay,CI,2719583-8,2025-05-02 00:00:00.000,2025-06-19 00:00:00.000
1,36e48bdd-db11-4abe-9526-cfc90e68924d,√ìscar,Barranco,M,58,√≥scar.barranco13@example.com,Salto,Bulevar Artigas 3911,76237,Uruguay,Uruguay,CI,1445199-8,2023-02-24 00:00:00.000,2023-12-09 00:00:00.000
2,145c22df-3579-412e-bc12-b4fce70abaf3,Macario,Querol,M,28,macario.querol67@example.com,Rivera,Av. Rivera 206,30926,Uruguay,Uruguay,CI,8090293-5,2024-10-03 00:00:00.000,2025-05-03 00:00:00.000

,order_id,client_id,product_id,product_category,order_price,order_timestamp,order_status,payment_method,shipping_method,shipping_cost
0,1,6c5c87f2-49e9-4380-872d-71d9e3df63d6,P00333,Snacks,29.510,2023-01-01 23:51:55.000,delivered,bank_transfer,standard,3.510
1,2,0c8380cb-a64e-4090-8b23-d1ddf32630e0,P00929,Personal Care,23.400,2023-01-01 11:48:50.000,delivered,credit_card,standard,3.760
2,3,bf486527-8182-490e-9e10-c79232c6b0c9,P00768,Personal Care,94.410,2023-01-01 11:06:14.000,delivered,debit_card,express,10.420

,product_id,product_name,category,brand,last_updated,created_at
0,P00001,Lipton Ice Tea,Beverages,Unilever,2025-09-06 21:21:31.000,2025-04-06 21:21:31.000
1,P00002,Pepsi Max,Beverages,PepsiCo,2025-09-06 21:21:31.000,2025-05-02 21:21:31.000
2,P00003,Pepsi Max,Beverages,PepsiCo,2025-09-06 21:21:31.000,2024-10-02 21:21:31.000

In [4]:
# ===============================
# PASO 2: AN√ÅLISIS DE CALIDAD DE DATOS
# ===============================

# Tipos de datos y valores nulos
print("üìä Informaci√≥n de cada dataset:\n")
print("Clients:")
display(clients.info())
print("\nOrders:")
display(orders.info())
print("\nProducts:")
display(products.info())

# Porcentaje de valores nulos por columna
print("\nüîé Porcentaje de valores nulos:")
print("Clients:\n", clients.isnull().mean().round(3) * 100)
print("\nOrders:\n", orders.isnull().mean().round(3) * 100)
print("\nProducts:\n", products.isnull().mean().round(3) * 100)

# Duplicados
print("\nüß© Duplicados:")
print(f"Clients duplicados: {clients.duplicated().sum()}")
print(f"Orders duplicados: {orders.duplicated().sum()}")
print(f"Products duplicados: {products.duplicated().sum()}")

üìä Informaci√≥n de cada dataset:

Clients:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2357 entries, 0 to 2356
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   client_id          2357 non-null   object
 1   first_name         2357 non-null   object
 2   last_name          2357 non-null   object
 3   gender             2357 non-null   object
 4   age                2357 non-null   int64
 5   email              2357 non-null   object
 6   city               2357 non-null   object
 7   address            2357 non-null   object
 8   postal_code        2357 non-null   int64
 9   country            2357 non-null   object
 10  citizenship        2357 non-null   object
 11  document_type      2357 non-null   object
 12  document_number    2357 non-null   object
 13  registration_date  2357 non-null   object
 14  last_seen          2357 non-null   object
dtypes: int64(2), object(13)
memory usage: 276.3+ KB

None

Orders:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82245 entries, 0 to 82244
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          82245 non-null  int64
 1   client_id         82245 non-null  object
 2   product_id        82245 non-null  object
 3   product_category  82245 non-null  object
 4   order_price       82245 non-null  float64
 5   order_timestamp   82245 non-null  object
 6   order_status      82245 non-null  object
 7   payment_method    82245 non-null  object
 8   shipping_method   82245 non-null  object
 9   shipping_cost     82245 non-null  float64
dtypes: float64(2), int64(1), object(7)
memory usage: 6.3+ MB

None

Products:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1255 entries, 0 to 1254
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    1255 non-null   object
 1   product_name  1255 non-null   object
 2   category      1255 non-null   object
 3   brand         1255 non-null   object
 4   last_updated  1255 non-null   object
 5   created_at    1255 non-null   object
dtypes: object(6)
memory usage: 59.0+ KB

None

üîé Porcentaje de valores nulos:
Clients:
 client_id           0.000
first_name          0.000
last_name           0.000
gender              0.000
age                 0.000
email               0.000
city                0.000
address             0.000
postal_code         0.000
country             0.000
citizenship         0.000
document_type       0.000
document_number     0.000
registration_date   0.000
last_seen           0.000
dtype: float64

Orders:
 order_id           0.000
client_id          0.000
product_id         0.000
product_category   0.000
order_price        0.000
order_timestamp    0.000
order_status       0.000
payment_method     0.000
shipping_method    0.000
shipping_cost      0.000
dtype: float64

Products:
 product_id     0.000
product_name   0.000
category       0.000
brand          0.000
last_updated   0.000
created_at     0.000
dtype: float64

üß© Duplicados:
Clients duplicados: 0
Orders duplicados: 0
Products duplicados: 0

In [5]:
# PASO 3 : tipos correctos y m√©tricas por cliente

# 1) Tipos
orders['order_timestamp'] = pd.to_datetime(orders['order_timestamp'], errors='coerce')
orders['order_price'] = pd.to_numeric(orders['order_price'], errors='coerce')

# 2) Merge orders + products
orders_products = orders.merge(products, on="product_id", how="left")

# 3) Merge con clients
data_merged = orders_products.merge(clients, on="client_id", how="left")

# 4) M√©tricas por cliente
metrics_clients = (
    data_merged
    .groupby('client_id')
    .agg(
        total_spent   = ('order_price', 'sum'),
        num_orders    = ('order_id', 'count'),
        avg_order_val = ('order_price', 'mean'),
        first_purchase= ('order_timestamp', 'min'),
        last_purchase = ('order_timestamp', 'max'),
        num_categories= ('product_category', 'nunique')
    )
    .reset_index()
)

print("üìä M√©tricas por cliente:", metrics_clients.shape)
display(metrics_clients.head(5))

üìä M√©tricas por cliente: (2255, 7)

,client_id,total_spent,num_orders,avg_order_val,first_purchase,last_purchase,num_categories
0,00094d4c-1acd-46ec-a6d2-c35710c31005,133.850,2,66.925,2023-11-17 03:46:17,2024-04-27 17:58:43,2
1,0016d161-d6a2-42f3-bfd6-66aee6d163e3,235.110,4,58.778,2023-01-03 14:33:10,2023-07-11 15:17:43,2
2,0042e01f-9154-45fd-9c1d-499b3eb3f1c4,3943.760,77,51.218,2023-01-16 05:43:41,2024-12-28 16:17:46,5
3,0052b716-46cf-4540-aa23-409642dc4048,3590.100,67,53.584,2023-01-12 04:44:03,2024-12-28 12:43:15,5
4,00679c7c-bd80-4a70-9052-830bc5b63ecf,4489.990,79,56.835,2023-01-30 09:58:29,2024-12-17 22:38:56,5

In [6]:
# ========================================
# PASO 4 - VARIABLES RFM Y DERIVADAS
# ========================================

from datetime import datetime

# Fecha de referencia (√∫ltima fecha observada en la base)
reference_date = metrics_clients["last_purchase"].max()
print("üìÖ Fecha de referencia:", reference_date)

# Variables RFM
metrics_clients["recency_days"] = (reference_date - metrics_clients["last_purchase"]).dt.days
metrics_clients["frequency"] = metrics_clients["num_orders"]
metrics_clients["monetary"] = metrics_clients["total_spent"]

# Variables adicionales
metrics_clients["customer_age_days"] = (metrics_clients["last_purchase"] - metrics_clients["first_purchase"]).dt.days
metrics_clients["avg_monthly_spent"] = metrics_clients["total_spent"] / ((metrics_clients["customer_age_days"]/30) + 1)

# Reordenamos columnas
rfm_clients = metrics_clients[[
    "client_id", "total_spent", "num_orders", "avg_order_val",
    "first_purchase", "last_purchase", "num_categories",
    "recency_days", "frequency", "monetary", "customer_age_days", "avg_monthly_spent"
]]

print("‚úÖ Dataset RFM listo:", rfm_clients.shape)
display(rfm_clients.head(5))

üìÖ Fecha de referencia: 2024-12-31 23:47:40
‚úÖ Dataset RFM listo: (2255, 12)

,client_id,total_spent,num_orders,avg_order_val,first_purchase,last_purchase,num_categories,recency_days,frequency,monetary,customer_age_days,avg_monthly_spent
0,00094d4c-1acd-46ec-a6d2-c35710c31005,133.850,2,66.925,2023-11-17 03:46:17,2024-04-27 17:58:43,2,248,2,133.850,162,20.914
1,0016d161-d6a2-42f3-bfd6-66aee6d163e3,235.110,4,58.778,2023-01-03 14:33:10,2023-07-11 15:17:43,2,539,4,235.110,189,32.207
2,0042e01f-9154-45fd-9c1d-499b3eb3f1c4,3943.760,77,51.218,2023-01-16 05:43:41,2024-12-28 16:17:46,5,3,77,3943.760,712,159.451
3,0052b716-46cf-4540-aa23-409642dc4048,3590.100,67,53.584,2023-01-12 04:44:03,2024-12-28 12:43:15,5,3,67,3590.100,716,144.374
4,00679c7c-bd80-4a70-9052-830bc5b63ecf,4489.990,79,56.835,2023-01-30 09:58:29,2024-12-17 22:38:56,5,14,79,4489.990,687,187.866

In [7]:
# ============================================
# PASO 5 - INGENIER√çA DE VARIABLES PARA MODELO
# ============================================

# 1Ô∏è‚É£ Segmentaci√≥n por recency, frequency y monetary
# (crea etiquetas cualitativas basadas en cuartiles)

rfm_clients["recency_segment"] = pd.qcut(rfm_clients["recency_days"], 4, labels=["Muy reciente", "Reciente", "Inactivo", "Muy inactivo"])
rfm_clients["frequency_segment"] = pd.qcut(rfm_clients["frequency"], 4, labels=["Baja", "Media", "Alta", "Muy alta"])
rfm_clients["monetary_segment"] = pd.qcut(rfm_clients["monetary"], 4, labels=["Bajo", "Medio", "Alto", "Premium"])

# 2Ô∏è‚É£ Variables derivadas binarias (flags)
rfm_clients["is_high_spender"] = (rfm_clients["monetary"] > rfm_clients["monetary"].median()).astype(int)
rfm_clients["is_inactive"] = (rfm_clients["recency_days"] > rfm_clients["recency_days"].median()).astype(int)
rfm_clients["is_frequent"] = (rfm_clients["frequency"] > rfm_clients["frequency"].median()).astype(int)

# 3Ô∏è‚É£ Ratios adicionales
rfm_clients["avg_spent_per_category"] = rfm_clients["total_spent"] / (rfm_clients["num_categories"] + 1)
rfm_clients["orders_per_month"] = rfm_clients["num_orders"] / ((rfm_clients["customer_age_days"] / 30) + 1)

# 4Ô∏è‚É£ Segmento RFM num√©rico (√∫til para clustering o scoring)
#    Mayor puntaje = cliente m√°s activo y valioso
rfm_clients["rfm_score"] = (
    (5 - pd.qcut(rfm_clients["recency_days"], 5, labels=False)) +  # m√°s reciente = mejor
    (pd.qcut(rfm_clients["frequency"], 5, labels=False) + 1) +
    (pd.qcut(rfm_clients["monetary"], 5, labels=False) + 1)
)

# 5Ô∏è‚É£ Revisar estructura final
print("‚úÖ Dataset model-ready:", rfm_clients.shape)
display(rfm_clients.head(5))

‚úÖ Dataset model-ready: (2255, 21)

,client_id,total_spent,num_orders,avg_order_val,first_purchase,last_purchase,num_categories,recency_days,frequency,monetary,customer_age_days,avg_monthly_spent,recency_segment,frequency_segment,monetary_segment,is_high_spender,is_inactive,is_frequent,avg_spent_per_category,orders_per_month,rfm_score
0,00094d4c-1acd-46ec-a6d2-c35710c31005,133.850,2,66.925,2023-11-17 03:46:17,2024-04-27 17:58:43,2,248,2,133.850,162,20.914,Muy inactivo,Baja,Bajo,0,1,0,44.617,0.312,3
1,0016d161-d6a2-42f3-bfd6-66aee6d163e3,235.110,4,58.778,2023-01-03 14:33:10,2023-07-11 15:17:43,2,539,4,235.110,189,32.207,Muy inactivo,Baja,Bajo,0,1,0,78.370,0.548,3
2,0042e01f-9154-45fd-9c1d-499b3eb3f1c4,3943.760,77,51.218,2023-01-16 05:43:41,2024-12-28 16:17:46,5,3,77,3943.760,712,159.451,Muy reciente,Muy alta,Premium,1,0,1,657.293,3.113,15
3,0052b716-46cf-4540-aa23-409642dc4048,3590.100,67,53.584,2023-01-12 04:44:03,2024-12-28 12:43:15,5,3,67,3590.100,716,144.374,Muy reciente,Muy alta,Premium,1,0,1,598.350,2.694,15
4,00679c7c-bd80-4a70-9052-830bc5b63ecf,4489.990,79,56.835,2023-01-30 09:58:29,2024-12-17 22:38:56,5,14,79,4489.990,687,187.866,Reciente,Muy alta,Premium,1,0,1,748.332,3.305,13

In [8]:
# ============================================
# PASO 6 - PREPROCESAMIENTO PARA MODELADO
# ============================================

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# 1Ô∏è‚É£ Seleccionamos variables num√©ricas y categ√≥ricas
numeric_cols = [
    'total_spent', 'num_orders', 'avg_order_val', 
    'recency_days', 'frequency', 'monetary',
    'customer_age_days', 'avg_monthly_spent',
    'avg_spent_per_category', 'orders_per_month', 'rfm_score'
]

categorical_cols = [
    'recency_segment', 'frequency_segment', 'monetary_segment'
]

# 2Ô∏è‚É£ Convertimos las categor√≠as en variables dummies (one-hot encoding)
rfm_encoded = pd.get_dummies(rfm_clients, columns=categorical_cols, drop_first=True)

# 3Ô∏è‚É£ Escalamos las variables num√©ricas
scaler = StandardScaler()
rfm_encoded[numeric_cols] = scaler.fit_transform(rfm_encoded[numeric_cols])

# 4Ô∏è‚É£ Definimos X (features) y y (target)
# Por ahora no tenemos target 'churn', as√≠ que preparamos solo X
X = rfm_encoded.drop(columns=['client_id'])  # target se generar√° m√°s adelante

# 5Ô∏è‚É£ Split train / test (por ejemplo, 80/20)
X_train, X_test = train_test_split(X, test_size=0.2, random_state=42)

print("‚úÖ Dataset preparado para modelado")
print("Train shape:", X_train.shape)
print("Test shape:", X_test.shape)

‚úÖ Dataset preparado para modelado
Train shape: (1804, 26)
Test shape: (451, 26)

In [10]:
# ============================================
# PASO 6 (ajustado) - PREPROCESAMIENTO CON TARGET
# ============================================

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# 1Ô∏è‚É£ Variables num√©ricas y categ√≥ricas (igual que antes)
numeric_cols = [
    'total_spent', 'num_orders', 'avg_order_val', 
    'recency_days', 'frequency', 'monetary',
    'customer_age_days', 'avg_monthly_spent',
    'avg_spent_per_category', 'orders_per_month', 'rfm_score'
]

categorical_cols = [
    'recency_segment', 'frequency_segment', 'monetary_segment'
]

# 2Ô∏è‚É£ One-hot encoding de las categ√≥ricas
rfm_encoded = pd.get_dummies(rfm_clients, columns=categorical_cols, drop_first=True)

# 3Ô∏è‚É£ Escalado de variables num√©ricas
scaler = StandardScaler()
rfm_encoded[numeric_cols] = scaler.fit_transform(rfm_encoded[numeric_cols])

# 4Ô∏è‚É£ Definir X (features) y y (target)
X = rfm_encoded.drop(columns=['client_id', 'churn'])
y = rfm_encoded['churn']

# 5Ô∏è‚É£ Split en train/test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

print("‚úÖ Dataset preparado para modelado con target")
print("X_train:", X_train.shape, "  X_test:", X_test.shape)
print("Proporci√≥n churn (train):", round(y_train.mean(), 3))
print("Proporci√≥n churn (test):", round(y_test.mean(), 3))

‚úÖ Dataset preparado para modelado con target
X_train: (1804, 26)   X_test: (451, 26)
Proporci√≥n churn (train): 0.11
Proporci√≥n churn (test): 0.111

In [11]:
# ============================================
# DATASET MENSUAL POR CLIENTE (Opci√≥n 1)
# Predice si compra el mes siguiente (active_next_month)
# ============================================

# 1) Asegurar tipos
orders['order_timestamp'] = pd.to_datetime(orders['order_timestamp'], errors='coerce')
orders['order_price'] = pd.to_numeric(orders['order_price'], errors='coerce')

# 2) Mes de la orden
orders['order_month'] = orders['order_timestamp'].dt.to_period('M').dt.to_timestamp()

# 3) M√©tricas por cliente-mes
monthly = (
    orders.sort_values(['client_id', 'order_timestamp'])
          .assign(
              # d√≠as desde la orden anterior (dentro del cliente)
              prev_ts=lambda df: df.groupby('client_id')['order_timestamp'].shift(1),
              days_since_prev=lambda df: (df['order_timestamp'] - df['prev_ts']).dt.days
          )
          .groupby(['client_id','order_month'])
          .agg(
              num_orders_month = ('order_id','count'),
              total_spent_month= ('order_price','sum'),
              avg_ticket_month = ('order_price','mean'),
              last_purchase_month=('order_timestamp','max'),
              first_purchase_month=('order_timestamp','min'),
              num_categories_month=('product_category','nunique'),
              avg_days_between_orders=('days_since_prev','mean')
          )
          .reset_index()
)

# 4) Features temporales del mes
monthly['month_number'] = monthly['order_month'].dt.month
monthly['year'] = monthly['order_month'].dt.year
monthly['recency_days_month'] = (monthly['order_month'].add(pd.offsets.MonthEnd(0))
                                 - monthly['last_purchase_month']).dt.days

# 5) TARGET: ¬øcompra en el mes siguiente?
next_month = monthly[['client_id','order_month','num_orders_month']].copy()
next_month['order_month'] = next_month['order_month'] + pd.offsets.MonthBegin(1)
next_month = next_month.rename(columns={'num_orders_month':'orders_next_month'})

monthly = monthly.merge(next_month, on=['client_id','order_month'], how='left')
monthly['orders_next_month'] = monthly['orders_next_month'].fillna(0).astype(int)
monthly['active_next_month'] = (monthly['orders_next_month'] > 0).astype(int)  # target 1/0

print("‚úÖ monthly shape:", monthly.shape)
display(monthly.head())

‚úÖ monthly shape: (32230, 14)

,client_id,order_month,num_orders_month,total_spent_month,avg_ticket_month,last_purchase_month,first_purchase_month,num_categories_month,avg_days_between_orders,month_number,year,recency_days_month,orders_next_month,active_next_month
0,00094d4c-1acd-46ec-a6d2-c35710c31005,2023-11-01,1,78.690,78.690,2023-11-17 03:46:17,2023-11-17 03:46:17,1,NaN,11,2023,12,0,0
1,00094d4c-1acd-46ec-a6d2-c35710c31005,2024-04-01,1,55.160,55.160,2024-04-27 17:58:43,2024-04-27 17:58:43,1,162.000,4,2024,2,0,0
2,0016d161-d6a2-42f3-bfd6-66aee6d163e3,2023-01-01,1,88.260,88.260,2023-01-03 14:33:10,2023-01-03 14:33:10,1,NaN,1,2023,27,0,0
3,0016d161-d6a2-42f3-bfd6-66aee6d163e3,2023-02-01,1,5.870,5.870,2023-02-17 15:36:29,2023-02-17 15:36:29,1,45.000,2,2023,10,1,1
4,0016d161-d6a2-42f3-bfd6-66aee6d163e3,2023-04-01,1,71.030,71.030,2023-04-08 18:55:34,2023-04-08 18:55:34,1,50.000,4,2023,21,0,0

In [12]:
monthly_clients = monthly.merge(
    clients[['client_id','age','gender','city','country','registration_date','last_seen']],
    on='client_id', how='left'
)
display(monthly_clients.head())

,client_id,order_month,num_orders_month,total_spent_month,avg_ticket_month,last_purchase_month,first_purchase_month,num_categories_month,avg_days_between_orders,month_number,year,recency_days_month,orders_next_month,active_next_month,age,gender,city,country,registration_date,last_seen
0,00094d4c-1acd-46ec-a6d2-c35710c31005,2023-11-01,1,78.690,78.690,2023-11-17 03:46:17,2023-11-17 03:46:17,1,NaN,11,2023,12,0,0,23,F,Paysand√∫,Uruguay,2023-06-02 00:00:00.000,2024-07-19 00:00:00.000
1,00094d4c-1acd-46ec-a6d2-c35710c31005,2024-04-01,1,55.160,55.160,2024-04-27 17:58:43,2024-04-27 17:58:43,1,162.000,4,2024,2,0,0,23,F,Paysand√∫,Uruguay,2023-06-02 00:00:00.000,2024-07-19 00:00:00.000
2,0016d161-d6a2-42f3-bfd6-66aee6d163e3,2023-01-01,1,88.260,88.260,2023-01-03 14:33:10,2023-01-03 14:33:10,1,NaN,1,2023,27,0,0,49,F,Montevideo,Uruguay,2023-06-15 00:00:00.000,2024-12-05 00:00:00.000
3,0016d161-d6a2-42f3-bfd6-66aee6d163e3,2023-02-01,1,5.870,5.870,2023-02-17 15:36:29,2023-02-17 15:36:29,1,45.000,2,2023,10,1,1,49,F,Montevideo,Uruguay,2023-06-15 00:00:00.000,2024-12-05 00:00:00.000
4,0016d161-d6a2-42f3-bfd6-66aee6d163e3,2023-04-01,1,71.030,71.030,2023-04-08 18:55:34,2023-04-08 18:55:34,1,50.000,4,2023,21,0,0,49,F,Montevideo,Uruguay,2023-06-15 00:00:00.000,2024-12-05 00:00:00.000

In [14]:
# ============================================
# PASO 6-B - PREPROCESAMIENTO DATASET MENSUAL
# ============================================

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# 1Ô∏è‚É£ Verificamos que est√© el target
print("Target (active_next_month) distribuci√≥n:")
print(monthly["active_next_month"].value_counts(normalize=True).round(3))

# 2Ô∏è‚É£ Eliminamos columnas no √∫tiles para el modelo
# (IDs y fechas)
monthly_model = monthly.drop(columns=["client_id", "order_month", "last_purchase_month", "first_purchase_month"])

# 3Ô∏è‚É£ Definimos variables num√©ricas
numeric_cols = [
    "num_orders_month", "total_spent_month", "avg_ticket_month",
    "num_categories_month", "avg_days_between_orders", "recency_days_month"
]

# 4Ô∏è‚É£ Escalamos variables num√©ricas
scaler = StandardScaler()
monthly_model[numeric_cols] = scaler.fit_transform(monthly_model[numeric_cols])

# 5Ô∏è‚É£ Definimos X (features) y y (target)
X = monthly_model.drop(columns=["active_next_month", "orders_next_month"])
y = monthly_model["active_next_month"]

# 6Ô∏è‚É£ Split train/test
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

print("‚úÖ Dataset mensual preparado para modelado")
print("X_train:", X_train.shape, "  X_test:", X_test.shape)
print("Proporci√≥n target (train):", round(y_train.mean(), 3))
print("Proporci√≥n target (test):", round(y_test.mean(), 3))

Target (active_next_month) distribuci√≥n:
active_next_month
1   0.726
0   0.274
Name: proportion, dtype: float64
‚úÖ Dataset mensual preparado para modelado
X_train: (25784, 8)   X_test: (6446, 8)
Proporci√≥n target (train): 0.726
Proporci√≥n target (test): 0.726

In [15]:
# ============================================
# PASO 7.0 - CREAR DATASET RFM_CLIENTS_V2
# ============================================

rfm_clients_v2 = rfm_clients.drop(columns=["avg_monthly_spent"])

print("‚úÖ rfm_clients_v2 creado")
print("Columnas:", rfm_clients_v2.columns.tolist())
print("Shape:", rfm_clients_v2.shape)

‚úÖ rfm_clients_v2 creado
Columnas: ['client_id', 'total_spent', 'num_orders', 'avg_order_val', 'first_purchase', 'last_purchase', 'num_categories', 'recency_days', 'frequency', 'monetary', 'customer_age_days', 'recency_segment', 'frequency_segment', 'monetary_segment', 'is_high_spender', 'is_inactive', 'is_frequent', 'avg_spent_per_category', 'orders_per_month', 'rfm_score', 'churn']
Shape: (2255, 21)

In [16]:
# ============================================
# PASO 6 - PREPROCESAMIENTO RFM_CLIENTS_V2
# ============================================

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# 1Ô∏è‚É£ Definimos las variables num√©ricas (sin avg_monthly_spent)
numeric_cols_v2 = [
    'total_spent', 'num_orders', 'avg_order_val',
    'recency_days', 'frequency', 'monetary',
    'customer_age_days', 'avg_spent_per_category',
    'orders_per_month', 'rfm_score'
]

# 2Ô∏è‚É£ Variables categ√≥ricas (segmentos RFM)
categorical_cols_v2 = [
    'recency_segment', 'frequency_segment', 'monetary_segment'
]

# 3Ô∏è‚É£ One-hot encoding de las categ√≥ricas
rfm_encoded_v2 = pd.get_dummies(rfm_clients_v2, columns=categorical_cols_v2, drop_first=True)

# 4Ô∏è‚É£ Escalado de las num√©ricas
scaler = StandardScaler()
rfm_encoded_v2[numeric_cols_v2] = scaler.fit_transform(rfm_encoded_v2[numeric_cols_v2])

# 5Ô∏è‚É£ Definir X e y (target)
X_v2 = rfm_encoded_v2.drop(columns=['client_id', 'churn'])
y_v2 = rfm_encoded_v2['churn']

# 6Ô∏è‚É£ Split en train/test
X_train_v2, X_test_v2, y_train_v2, y_test_v2 = train_test_split(
    X_v2, y_v2, test_size=0.2, random_state=42, stratify=y_v2
)

print("‚úÖ rfm_clients_v2 preparado para modelado")
print("X_train_v2:", X_train_v2.shape, "  X_test_v2:", X_test_v2.shape)
print("Proporci√≥n churn (train):", round(y_train_v2.mean(), 3))
print("Proporci√≥n churn (test):", round(y_test_v2.mean(), 3))

‚úÖ rfm_clients_v2 preparado para modelado
X_train_v2: (1804, 25)   X_test_v2: (451, 25)
Proporci√≥n churn (train): 0.11
Proporci√≥n churn (test): 0.111

In [17]:
# ============================================
# PASO 7.0 - CREAR DATASET RFM_CLIENTS_V3
# ============================================

rfm_clients_v3 = rfm_clients.copy()

# 1Ô∏è‚É£ Crear variable de eficiencia de gasto
rfm_clients_v3["spending_efficiency"] = rfm_clients_v3["total_spent"] / (rfm_clients_v3["num_orders"] + 1e-5)

# 2Ô∏è‚É£ Reemplazar valores infinitos o NaN
rfm_clients_v3["spending_efficiency"].replace([np.inf, -np.inf], np.nan, inplace=True)
rfm_clients_v3["spending_efficiency"].fillna(0, inplace=True)

print("‚úÖ rfm_clients_v3 creado")
print("Columnas:", rfm_clients_v3.columns.tolist())
print("Shape:", rfm_clients_v3.shape)
display(rfm_clients_v3[["client_id", "total_spent", "num_orders", "spending_efficiency"]].head(5))

‚úÖ rfm_clients_v3 creado
Columnas: ['client_id', 'total_spent', 'num_orders', 'avg_order_val', 'first_purchase', 'last_purchase', 'num_categories', 'recency_days', 'frequency', 'monetary', 'customer_age_days', 'avg_monthly_spent', 'recency_segment', 'frequency_segment', 'monetary_segment', 'is_high_spender', 'is_inactive', 'is_frequent', 'avg_spent_per_category', 'orders_per_month', 'rfm_score', 'churn', 'spending_efficiency']
Shape: (2255, 23)

/var/folders/b1/72zdghjj6yj2x5mwftwdr8br0000gn/T/ipykernel_32688/2831791012.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  rfm_clients_v3["spending_efficiency"].replace([np.inf, -np.inf], np.nan, inplace=True)
/var/folders/b1/72zdghjj6yj2x5mwftwdr8br0000gn/T/ipykernel_32688/2831791012.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  rfm_clients_v3["spending_efficiency"].fillna(0, inplace=True)

,client_id,total_spent,num_orders,spending_efficiency
0,00094d4c-1acd-46ec-a6d2-c35710c31005,133.850,2,66.925
1,0016d161-d6a2-42f3-bfd6-66aee6d163e3,235.110,4,58.777
2,0042e01f-9154-45fd-9c1d-499b3eb3f1c4,3943.760,77,51.218
3,0052b716-46cf-4540-aa23-409642dc4048,3590.100,67,53.584
4,00679c7c-bd80-4a70-9052-830bc5b63ecf,4489.990,79,56.835

In [18]:
# ============================================
# PREPROCESAMIENTO RFM_CLIENTS_V3
# ============================================

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# 1) Variables num√©ricas (agregamos spending_efficiency)
numeric_cols_v3 = [
    'total_spent', 'num_orders', 'avg_order_val',
    'recency_days', 'frequency', 'monetary',
    'customer_age_days', 'avg_spent_per_category',
    'orders_per_month', 'rfm_score',
    'spending_efficiency'
]

# 2) Variables categ√≥ricas (segmentos)
categorical_cols_v3 = ['recency_segment', 'frequency_segment', 'monetary_segment']

# 3) One-hot encoding
rfm_encoded_v3 = pd.get_dummies(rfm_clients_v3, columns=categorical_cols_v3, drop_first=True)

# 4) Escalado de num√©ricas
scaler_v3 = StandardScaler()
rfm_encoded_v3[numeric_cols_v3] = scaler_v3.fit_transform(rfm_encoded_v3[numeric_cols_v3])

# 5) Definir X (features) y y (target)
X_v3 = rfm_encoded_v3.drop(columns=['client_id', 'churn'])
y_v3 = rfm_encoded_v3['churn']

# 6) Train/Test split estratificado
X_train_v3, X_test_v3, y_train_v3, y_test_v3 = train_test_split(
    X_v3, y_v3, test_size=0.2, random_state=42, stratify=y_v3
)

print("‚úÖ rfm_clients_v3 preparado para modelado")
print("X_train_v3:", X_train_v3.shape, "  X_test_v3:", X_test_v3.shape)
print("Proporci√≥n churn (train):", round(y_train_v3.mean(), 3))
print("Proporci√≥n churn (test):", round(y_test_v3.mean(), 3))

‚úÖ rfm_clients_v3 preparado para modelado
X_train_v3: (1804, 27)   X_test_v3: (451, 27)
Proporci√≥n churn (train): 0.11
Proporci√≥n churn (test): 0.111